{% extends 'base.html' %}
{% block principal %}

    <h2>Listado de libros</h2>

    <table class="table">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">ISBN</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
        </tr>
        {% for libro in object_list %}
        <tr>
            <td><a href="{% url 'Detalle_Libro' libro.pk %}">{{ libro.nombre }}</a></td>
            <td>{{ libro.descripcion }}</td>
            <td>{{ libro.isbn }}</td>
            <td><a href="{% url 'Editar_Libro' libro.id %}"><button class="btn-success" style="height: 25px; width: 25px;"></button></a></td>
            <td><a href="{% url 'Borrar_Libro' libro.id %}"><button class="btn-danger" style="height: 25px; width: 25px;"></button></a></td>
        </tr>
        {% endfor%}

    </table>
    <p><a href="{% url 'Nuevo_libro' %}">Crear nuevo libro</a></p>
    {% endblock %}
